<aside class="sidebar" [ngClass]="{'collapsed': collapsed, 'mobile-open': mobileOpen}">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="assets/logo.svg" alt="USWW Logo" class="logo-icon">
      <span class="logo-text" *ngIf="!collapsed || mobileOpen">USWW</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul class="menu">
      <ng-container *ngFor="let item of menuItems">
        <li class="menu-item" *ngIf="isMenuItemVisible(item)">

          *ngIf="!item.children"
          [routerLink]="item.route"
          routerLinkActive="active"
          class="menu-link"
          (click)="onMenuItemClick()"
          >
          <i class="bi {{ item.icon }}"></i>
          <span class="menu-text" *ngIf="!collapsed || mobileOpen">{{ item.title }}</span>

          <div
            *ngIf="item.children && hasVisibleChildren(item)"
            class="menu-link has-submenu"
            [ngClass]="{'active': item.expanded}"
            (click)="toggleMenuItem(item)"
          >
            <i class="bi {{ item.icon }}"></i>
            <span class="menu-text" *ngIf="!collapsed || mobileOpen">{{ item.title }}</span>
            <i *ngIf="(!collapsed || mobileOpen)" class="bi dropdown-icon" [ngClass]="item.expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
          </div>

          <ul class="submenu" *ngIf="item.children && item.expanded && (!collapsed || mobileOpen)">
            <ng-container *ngFor="let child of item.children">
              <li class="submenu-item" *ngIf="child.visible !== false">
                <a [routerLink]="child.route" routerLinkActive="active" class="submenu-link" (click)="onMenuItemClick()">
                  {{ child.title }}
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>
</aside>
